* {
	/*font-family: FreeMono, monospace;*/
	font-family: Bradley Hand, cursive;
}
a.nav-link {
    font-size: 20px;
}
body .container-fluid {
	margin: unset;
	padding: unset;
}
h1, h2 {
    text-shadow: 2px 2px 3px #ccc;
}
h1,
.agency,
.akita {
	color: #fff;
}
h2 {
	padding: 10px 0;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}
.header h1 {
	font-size: 100px;
	z-index: 1;
	position: absolute;
}
.img-header {
	opacity: 0.6;
	z-index: 0;
}
.agency {
	background: #11749e;
	color: #fff;
}
h2 {
	font-size: 50px;
	color: #fff;
	text-align: center;
	z-index: 1;
}
.akita-one,
.akita-two {
	margin: auto 0;
}
.akita-one-text {
	color: #fff;
	background: #000;
}
.akita-two-img,
.akita-one-img {
	width: 655px;
}
.akita-two-text {
	color: #000;
	background: #f3f3f3;
}
.akita-two h3 {
	color: #000;
	background: #f3f3f3;
}
.blog-heading,
.team-heading,
.form-heading {
	display: flex;
    flex-direction: column;
    align-items: center;	
}
.blog-heading h2,
.container-team h2 {
	color: #000;
}
.blog-items {
	display: contents;
}
.blog-items h3 {
	color: #11749e;
}
.sidebar {
	background: #11749e;
	color: #fff;
	padding: 30px;
}
@media screen and (max-width: 768px) {
	.header h1 {
		font-size: 75px;
	}
	h2 {
		font-size: 40px;
	}
}
@media screen and (max-width: 425px) {
	.header h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 30px;
	}
}
.layer-team {
    z-index: 2;
    position: relative;
    background-color: #fff;
    max-width: 70%;
    top: -50px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    color: #7C8389;
}
.grow {
	margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;
    max-width: 100%;

    -webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	transition: .5s ease-in-out;
}
.grow:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	transition: 1s transform;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.team {
    height: auto;
    background-color: #f5f5f5;
    overflow: auto;
    text-align: center;
}
.left {
	float: left;
 	margin-top: 75px;
 	margin-right: 20px; 
}
.akita-one-text {
	padding: 100px;
	padding-left: calc((100% - 1140px)/2 + 15px);
}
.akita-two-text {
	padding: 100px;
	padding-right: calc((100% - 1140px)/2 + 15px);
}
@media screen and (max-width: 1024px) {
	.akita-one-text {
		padding: 75px 75px 50px 47px;
	}
	.akita-two-text {
		padding: 75px 47px 50px 75px;
	}
}
@media screen and (max-width: 768px) {
	.akita-one-text {
		padding: 75px 39px 50px 39px;
	}
	.akita-two-text {
		padding: 75px 39px 50px 39px;
	}
	.grow {
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	}
	.grow:hover {
		transform: unset;
		-webkit-transform: unset;
	}
}
@media screen and (max-width: 425px) {
	.akita-one-text {
		padding: 75px 15px 50px 15px;
	}
	.akita-two-text {
		padding: 75px 15px 50px 15px;
	}
}
.akita-one-img {
    background-image: url(../img/akita_1.jpg);
    background-size: cover;
}
.akita-two-img {
	background-image: url(../img/akita_2.jpg);
    background-size: cover;
}
body .form {
    height: auto;
    background-image: url(../img/message_1.jpg);
    color: #fff;
    text-align: center;
    padding: 50px 0;
    opacity: 0.8;
}
.copyright {
	background: #222222;
	color: #fff;
}
body .btn.btn-primary {
	background: #11749e;
}
body .btn.btn-primary:hover {
	background: #007bff;
}
body .blog-item-heading a {
	color: #11749e;
}
.blog-item-heading a:hover {
	color: #007bff;
	text-decoration: none;
}
body .form-inline {
	padding: 8px 0;
}
body .form-inline input {
	max-width: 200px;
    margin-right: 8px;
}
#btn_scroll {
  width: 40px;
  height: 40px;
  position: fixed; 
  bottom: 75px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none;
  background: #11749e; 
  color: white;
  border-radius: 5px; 
  font-size: 18px;
}

#btn_scroll:hover {
  background: #007bff;
}
span.name {
    text-transform: uppercase;
}
body .contact a {
	color: rgba(255,255,255,.5) !important;
}
body .contact a:hover {
	text-decoration: none;
	color: rgba(255,255,255,.75) !important;
}
.contact i {
	padding-right: 5px;
}
.rights {
	padding-top: 30px;
}
span.layer-text {
	display: flex;
    font-size: 150px;
    z-index: 10;
    justify-content: center;
    position: absolute;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 175px;
}
.title {
	display: flex;
    justify-content: center;
    z-index: 100;    
}
.agency-header,
.blog-heading,
.form-heading {
	justify-content: center;
}
input.form-control,
textarea.form-control {
    opacity: 0.7;
}
.layer-team span {
	color: #11749e;
}


.m_50 {
	margin: 50px;
}
.mt_100 {
	margin-top: 100px;
}
.mt_50 {
	margin-top: 50px; 
}
.mb_100 {
	margin-bottom: 100px;
}
.mb_50 {
	margin-bottom: 50px; 
}
.p_100 {
	padding: 100px;
}
.p_50 {
	padding: 50px;
}
.pt_100 {
	padding-top: 100px;
}
.pt_50 {
	padding-top: 50px; 
}
.pb_100 {
	padding-bottom: 100px;
}
.pb_50 {
	padding-bottom: 50px; 
}
.pr_50 {
	padding-right: 50px;
}
.pl_50 {
	padding-left: 50px;
}
.prl_25 {
	padding-right: 25px;
	padding-left: 25px;
}
.prl_30 {
	padding: 15px;
}
